---
kind: Ingress
apiVersion: networking.k8s.io/v1beta1
metadata:
  name: http-echo
  annotations:
    ingress.class: haproxy
spec:
  rules:
    - host: {{ .Host }}
      http:
        paths:
        {{- range $path := .Paths}}
          - path: /{{$path}}
            backend:
              serviceName: http-echo
              servicePort: http
        {{- end}}
