---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: http-echo
spec:
  ingressClassName: haproxy
  rules:
    - host: {{ .Host }}
      http:
        paths:
        {{- range $path := .Paths}}
          - path: /{{$path}}
            pathType: ImplementationSpecific
            backend:
              service:
                name: http-echo
                port:
                  name: http
        {{- end}}
