---
##### Prod app

kind: Deployment
apiVersion: apps/v1
metadata:
  name: http-echo-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: http-echo-prod
  template:
    metadata:
      labels:
        app: http-echo-prod
    spec:
      containers:
        - name: http-echo-prod
          image: haproxytech/http-echo:latest
          imagePullPolicy: Never
          args:
          - --default-response=hostname
          ports:
            - name: http
              containerPort: 8888
              protocol: TCP
---
kind: Service
apiVersion: v1
metadata:
  name: http-echo-prod
spec:
  ipFamilyPolicy: RequireDualStack
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
  selector:
    app: http-echo-prod
---
##### Staging app

kind: Deployment
apiVersion: apps/v1
metadata:
  name: http-echo-staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: http-echo-staging
  template:
    metadata:
      labels:
        app: http-echo-staging
    spec:
      containers:
        - name: http-echo-staging
          image: haproxytech/http-echo:latest
          imagePullPolicy: Never
          args:
          - --default-response=hostname
          ports:
            - name: http
              containerPort: 8888
              protocol: TCP
---
kind: Service
apiVersion: v1
metadata:
  name: http-echo-staging
  annotations:
    route-acl: {{ .StagingRouteACL }}
spec:
  ipFamilyPolicy: RequireDualStack
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
  selector:
    app: http-echo-staging
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: http-echo
spec:
  ingressClassName: haproxy
  rules:
  - host: {{ .Host }}
    http:
      paths:
        - path: /
          pathType: ImplementationSpecific
          backend:
            service:
              name: http-echo-prod
              port:
                name: http
        - pathType: ImplementationSpecific
          backend:
            service:
              name: http-echo-staging
              port:
                name: http
