stages:
  - diff
  - lint
  - unit-tests
  - build
  - e2e-tests
  - e2e_k8s_25
  - e2e_k8s_26
  - e2e_k8s_27
variables:
  KIND: v0.18.0
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2
  GO_VERSION: "1.21"
  DOCKER_VERSION: "24.0"
diff:
  stage: diff
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [ "" ]
  tags:
    - go
  before_script:
    - cd documentation/gen && go run .
  script:
    - test -z "$(git diff 2> /dev/null)" || exit "Documentation is not generated, issue \`cd documentation/gen && go run .\` and commit the result"
    - test -z "$(git ls-files --others --exclude-standard 2> /dev/null)" || exit "Documentation created untracked files, cannot proceed"
tidy:
  stage: lint
  needs: []
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [""]
  tags:
    - go
  script:
    - go mod tidy
    - test -z "$(git diff 2> /dev/null)" || exit 'Go modules not tidied, issue \`go mod tidy\` and commit the result'
gofumpt:
  stage: lint
  needs: []
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [""]
  tags:
    - go
  script:
    - make gofumpt
    - test -z "$(git diff 2> /dev/null)" || exit 'Go code not formatted, issue \`make gofumpt\` and commit the result'
golangci_lint:
  stage: lint
  needs: []
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [""]
  tags:
    - go
  script:
    - make lint
lint-commit-msg:
  stage: lint
  needs: []
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  image:
    name: $CI_REGISTRY_GO/commit-check:3.0.0
    entrypoint: [""]
  tags:
    - go
  script:
      - /check
unit-tests:
  needs: ["diff", "tidy"]
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
  stage: unit-tests
  image:
    name: $CI_REGISTRY_GO/haproxy-alpine:2.7-go$GO_VERSION
    entrypoint: [""]
  tags:
    - go
  script:
    - go build -v .
    - go test -v ./...
docker-build:
  stage: build
  needs: []
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
  image: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-go$GO_VERSION
  services:
    - name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-dind
      alias: docker
  tags:
    - go
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY_GO
    - go version
    - docker pull -q $CI_REGISTRY_GO/alpine:3
    - docker image tag $CI_REGISTRY_GO/alpine:3 alpine:3
    - docker pull -q $CI_REGISTRY_GO/golang:$GO_VERSION-alpine
    - docker image tag $CI_REGISTRY_GO/golang:$GO_VERSION-alpine golang:$GO_VERSION-alpine
    - sed -i "s~FROM golang~FROM $CI_REGISTRY_GO/golang~g" "build/Dockerfile"
    - sed -i "s~FROM haproxytech/haproxy-alpine~FROM $CI_REGISTRY_GO/haproxy-alpine~g" "build/Dockerfile"
  script:
    - mkdir -p tar
    - make build
    - docker save -o tar/k8sIC.tar haproxytech/kubernetes-ingress:latest
  artifacts:
    when: on_success
    paths:
      - tar
    expire_in: 60 minutes
docker-build-sch:
  stage: build
  needs: []
  rules:
    - if: $CI_PIPELINE_SOURCE == 'schedule'
  image: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-go$GO_VERSION
  services:
    - name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-dind
      alias: docker
  tags:
    - go
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY_GO
    - go version
    - docker pull -q $CI_REGISTRY_GO/alpine:3
    - docker image tag $CI_REGISTRY_GO/alpine:3 alpine:3
    - docker pull -q $CI_REGISTRY_GO/golang:$GO_VERSION-alpine
    - docker image tag $CI_REGISTRY_GO/golang:$GO_VERSION-alpine golang:$GO_VERSION-alpine
    - sed -i "s~FROM golang~FROM $CI_REGISTRY_GO/golang~g" "build/Dockerfile"
    - sed -i "s~FROM haproxytech/haproxy-alpine~FROM $CI_REGISTRY_GO/haproxy-alpine~g" "build/Dockerfile"
  script:
    - mkdir -p tar
    - make build
    - docker save -o tar/k8sIC.tar haproxytech/kubernetes-ingress:latest
  artifacts:
    when: on_success
    paths:
      - tar
    expire_in: 24 hours
.kind_deployment:
  stage: e2e-tests
  retry: 2
  needs: ["diff", "tidy", "docker-build"]
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
  image: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-go$GO_VERSION
  services:
    - name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-dind
      alias: docker
  tags:
    - go
  artifacts:
    paths:
      - tar
    expire_in: 1 minutes
    exclude:
      - tar/*
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY_GO
    - docker load -i tar/k8sIC.tar
    - go version
    - go mod download &
    #- docker pull -q $CI_REGISTRY_GO/alpine:3
    #- docker image tag $CI_REGISTRY_GO/alpine:3 alpine:3
    #- docker pull -q $CI_REGISTRY_GO/golang:$GO_VERSION-alpine
    #- docker image tag $CI_REGISTRY_GO/golang:$GO_VERSION-alpine golang:$GO_VERSION-alpine
    - docker pull -q $CI_REGISTRY_GO/haproxytech/http-echo:latest
    - docker image tag $CI_REGISTRY_GO/haproxytech/http-echo:latest haproxytech/http-echo:latest
    - wget -nv -O /usr/local/bin/kind https://github.com/kubernetes-sigs/kind/releases/download/${KIND}/kind-linux-amd64
    - chmod +x /usr/local/bin/kind
    - wget -nv -O /usr/local/bin/kubectl https://storage.googleapis.com/kubernetes-release/release/${KUBECTL}/bin/linux/amd64/kubectl
    - chmod +x /usr/local/bin/kubectl
    - sed -i "s/K8S_VERSION/$K8S_VERSION/g" ".gitlab/kind-config.yaml"
    - sed -i "s/KUBEADM_VER/$KUBEADM_VER/g" ".gitlab/kind-config.yaml"
    - sed -i "s~CI_REGISTRY_GO~$CI_REGISTRY_GO~g" ".gitlab/kind-config.yaml"
    - sed -i "s~FROM golang~FROM $CI_REGISTRY_GO/golang~g" "build/Dockerfile"
    - sed -i "s~FROM haproxytech/haproxy-alpine~FROM $CI_REGISTRY_GO/haproxy-alpine~g" "build/Dockerfile"
    - kind create cluster --name=dev --config=./.gitlab/kind-config.yaml
    - sed -i -E -e "s/localhost|0\.0\.0\.0|127\.0\.0\.1/docker/g" "$HOME/.kube/config"
    - sed -i -E -e "s/localhost|0\.0\.0\.0|127\.0\.0\.1/docker/g" "deploy/tests/e2e/client.go"
    - until kubectl get nodes -o wide;do sleep 2; done
    - kubectl get pods -A
  after_script:
    - kubectl get pods -A
    - kind delete cluster --name=dev
  parallel:
    matrix:
      - TEST_PART: [ "18#e2e_parallel", "18#e2e_https", "1#e2e_sequential" ]
  script:
    - CI_ENV=gitlab deploy/tests/create.sh
    - kubectl get pods -A
    - IFS='#' read -r -a array <<< $TEST_PART; echo "running tests with -p ${array[0]} --tags=${array[1]}"
    - IFS='#' read -r -a array <<< $TEST_PART; KIND_URL=docker CGO_ENABLED=0 go test -v -p ${array[0]} ./deploy/tests/e2e/... --tags=${array[1]}
.kind_deployment_schedules:
  needs: ["docker-build-sch"]
  rules:
   - if: $CI_PIPELINE_SOURCE == "schedule"
  extends: .kind_deployment
  allow_failure: true
  artifacts:
    paths:
      - tar
    expire_in: 60 minutes
    exclude:
      - tar/*
e2e_k8s_25:
  stage: e2e_k8s_25
  needs: ["docker-build"]
  variables:
    K8S_VERSION: v1.25.8
    KUBEADM_VER: v1beta3
    KUBECTL: v1.26.3
  extends: .kind_deployment_schedules
e2e_k8s_26:
  stage: e2e_k8s_26
  needs: ["docker-build"]
  variables:
    K8S_VERSION: v1.26.3
    KUBEADM_VER: v1beta3
    KUBECTL: v1.26.3
  extends: .kind_deployment_schedules
e2e_k8s_27:
  stage: e2e_k8s_27
  needs: ["docker-build"]
  variables:
    K8S_VERSION: v1.27.0
    KUBEADM_VER: v1beta3
    KUBECTL: v1.27.0
  extends: .kind_deployment
