stages:
  - bots
  - diff
  - lint
  - unit-tests
  - build
  - e2e-tests
  - e2e_k8s
  - e2e_k8s_sch_1
  - e2e_k8s_sch_2
variables:
  KIND: v0.27.0
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2
  GO_VERSION: "1.24"
  DOCKER_VERSION: "28.1"
  JUNIT_FILE: "junit-report.xml"
  GOTESTSUM_JUNITFILE: "junit-report.xml"
include:
  - local: .gitlab/bots.yml
  - local: .gitlab/diff.yml
  - local: .gitlab/diff-warnings.yml
  - local: .gitlab/lint.yml
  - local: .gitlab/unit-tests.yml
  - local: .gitlab/build.yml
  - local: .gitlab/e2e_k8s.yml
