kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: http-echo
spec:
  {{ if .IngressClassName}}
  ingressClassName: {{ .IngressClassName}}
  {{ end }}
  rules:
    - host: {{ .Host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: http-echo
                port:
                  name: http
