---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: http-echo
spec:
  ingressClassName: haproxy
  rules:
    - host: {{ .Host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .ServiceName }}
                port:
                  {{ .PortType }}: {{ .ServicePort }}
