kind: ReplicationController
apiVersion: v1
metadata:
  name: http-echo
spec:
  replicas: {{ .Replicas }}
  template:
    metadata:
      labels:
        app: http-echo
    spec:
      containers:
        - name: http-echo
          image: haproxytech/http-echo:latest
          imagePullPolicy: Never
          args:
          - --default-response=hostname
          ports:
            - name: http
              containerPort: 8888
              protocol: TCP
            - name: https
              containerPort: 8443
              protocol: TCP
---
kind: Service
apiVersion: v1
metadata:
  name: http-echo
spec:
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http
    - name: https
      protocol: TCP
      port: 443
      targetPort: https
  selector:
    app: http-echo
---
kind: Ingress
apiVersion: networking.k8s.io/v1beta1
metadata:
  name: http-echo
  annotations:
    ingress.class: haproxy
spec:
  rules:
  - host: {{ .Host }}
    http:
      paths:
        - path: /
          backend:
            serviceName: http-echo
            servicePort: http
