name: Commit subject
on: [push, pull_request]
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 10
      - name: check-commit
        uses: docker://haproxytech/check-commit:1.1.3
