kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: http-echo
  annotations:
    {{range .IngAnnotations}}
    {{ .Key }}: {{ .Value}}
    {{end}}
spec:
  ingressClassName: haproxy
{{if .TLSEnabled}}
  tls:
    - hosts:
        -  {{ .Host }}
      secretName: haproxy-offload-test
    - hosts:
        -  default.haproxy
      secretName: haproxy-default # Another cert to make sure HAProxy picks the right one
{{end}}
  rules:
    - host: {{ .Host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: http-echo
                port:
                  name: {{ .Port }}
